__pycache__/manage.cpython-35.pyc
.idea/.gitignore
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/TSDRM.iml
.idea/vcs.xml
.idea/dataSources/3b2afe41-a16c-420b-8645-696b1dd1bd1e.xml
.idea/dataSources/38c8abda-83b6-4259-905f-d09a2a6d5e50.xml
.idea/inspectionProfiles/Project_Default.xml
.vscode/launch.json
.vscode/settings.json
faconstor/__pycache__/
faconstor/api/__pycache__/
faconstor/migrations/__pycache__/
TSDRM/__pycache__/
